@import "bootstrap";

body {
  padding-top: 60px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.pullrightline li {
	color:white;
	font-size:1.2em;
	float:right !important;;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #8e8e8e;
  a {
    color: #8e8e8e;
    &:hover {
      color: #8e8e8e;
    }
  }
  small {
    margin-left:20px;
    float: left;
  }
  ul {
    margin-right:20px;
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}